.wrap-main-slide{
    display: block;
    margin-top: 10px;
}
.wrap-main-slide .item-slide .img-slide,
.wrap-main-slide .item-slide{
    min-height: 190px;
}
.wrap-main-slide .slide-carousel .slide-info{
    position: absolute;
}
.wrap-main-slide .slide-carousel .slide-info.slide-1{
    top: 30%;
    left: 40%;
    z-index: 15;
    transform: translate( 4px, -7px);
    -webkit-transform: translate( 4px, -7px);
    -ms-transform: translate( 4px, -7px);
}
.wrap-main-slide .slide-carousel .slide-info.slide-2{
    max-width: 370px;
    z-index: 30;
    left: 8%;
    top: 22%;
    transform: translate(1px, 0px);
    -webkit-transform: translate(1px, 0px);
    -ms-transform: translate(1px, 0px);
}
.wrap-main-slide .slide-carousel .slide-info.slide-3{
    top: 20%;
    left: 8%;
    max-width: 500px;
    transform: translate(7px, 4px);
    -ms-transform: translate(7px, 4px);
    -webkit-transform: translate(7px, 4px);
}
.wrap-main-slide .slide-1 .f-title{
    font-size: 35px;
    line-height: 28.8px;
    color: #555555;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: -2px;
}
.wrap-main-slide .slide-1 .f-title b{
    color: #222222;
    font-size: 45px;
    font-weight: 700;
}
.wrap-main-slide .slide-1 .subtitle{
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    display: inline-block;
}
.wrap-main-slide .slide-1 .sale-info{
    font-size: 16px;
    line-height: 24px;
    color: #888888;
    margin-top: 6px;
    margin-bottom: 19px;
}
.wrap-main-slide .slide-1 .sale-info .price{
    font-weight: 700;
    color: #E328FF;
    font-size: 24px;
}
.wrap-main-slide .slide-3 .btn-link,
.wrap-main-slide .slide-1 .btn-link{
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: #eff5f5;
    border: 0;
    border-radius: 0;
    padding: 7.5px 22px;
    display: inline-block;
}
.wrap-main-slide .slide-3 .btn-link:hover,
.wrap-main-slide .slide-1 .btn-link:hover{
    text-decoration: none;
    background-color: #333333;
}
.wrap-main-slide .slide-2 .f-title{
    font-size: 40px;
    line-height: 35px;
    color: #E328FF;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    max-width: 172px;
}
.wrap-main-slide .slide-2 .f-subtitle{
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    display: inline-block;
}
.wrap-main-slide .slide-2 .discount-code{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: #222222;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    font-weight: 300;
    display: inline-block;
    padding: 3px 27.27px 3px 20px;
    margin-top: 3px;
    margin-left: 1px;
    margin-bottom: 12px;
}
.wrap-main-slide .slide-2 .s-title{
    font-size: 30px;
    line-height: 24px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -1px;
    margin-bottom: 4px;
}
.wrap-main-slide .slide-2 .s-subtitle{
    font-size: 20px;
    line-height: 24px;
    color: #666666;
    text-transform: uppercase;
    margin-left: -1px;
}
.wrap-main-slide .slide-3 .f-title{
    text-align: left;
    font-size: 35px;
    line-height: 35px;
    color: #555555;
    text-transform: uppercase;
    margin-left: -3px;
    margin-bottom: 7px;
}
.wrap-main-slide .slide-3 .f-title b{
    color: #222222;
    font-weight: 700;
}
.wrap-main-slide .slide-3 .f-subtitle{
    font-size: 18px;
    line-height: 24px;
    color: #555555;
    text-align: left;
    margin-left: -2px;
    display: inline-block;
}
.wrap-main-slide .slide-3 .sale-info{
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    text-align: left;
    margin-top: 8px;
    margin-left: -1px;
    margin-bottom: 20px;
}
.wrap-main-slide .slide-3 .sale-info .price{
    font-weight: 700;
    font-size: 25px;
    color: #E328FF;
}

/* main slide's animate */
.wrap-main-slide .active .slide-1 .f-title{
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-1 .subtitle{
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-1 .sale-info{
     animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-3 .btn-link,
.wrap-main-slide .active .slide-1 .btn-link{
    animation-duration: 1.6s;
    -webkit-animation-duration: 1.6s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-2 .f-title{
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: slideInLeft;
    -webkit-animation-name: slideInLeft;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-2 .f-subtitle{
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: slideInLeft;
    -webkit-animation-name: slideInRight;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-2 .discount-code{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: zoomIn;
    -webkit-animation-name: zoomIn;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-2 .s-title{
    animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-2 .s-subtitle{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;   
}
.wrap-main-slide .active .slide-3 .f-title{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInRight;
    -webkit-animation-name: bounceInRight;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-3 .f-subtitle{
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.wrap-main-slide .active .slide-3 .sale-info{
    animation-duration: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInLeft;
    -webkit-animation-name: bounceInLeft;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;    
}
