<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the system_setting_init() hook (in hooks/system_setting.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="system_setting-flash_sale-<%%VALUE(id)%%>" class="system_setting-flash_sale"><%%VALUE(flash_sale)%%></td>
		<td id="system_setting-date-<%%VALUE(id)%%>" class="system_setting-date"><%%VALUE(date)%%></td>
		<td id="system_setting-just_sold-<%%VALUE(id)%%>" class="system_setting-just_sold"><%%VALUE(just_sold)%%></td>
		<td id="system_setting-js_date-<%%VALUE(id)%%>" class="system_setting-js_date"><%%VALUE(js_date)%%></td>
		<td id="system_setting-recommended-<%%VALUE(id)%%>" class="system_setting-recommended"><%%VALUE(recommended)%%></td>
		<td id="system_setting-r_date-<%%VALUE(id)%%>" class="system_setting-r_date"><%%VALUE(r_date)%%></td>
		<td id="system_setting-latest_product-<%%VALUE(id)%%>" class="system_setting-latest_product"><%%VALUE(latest_product)%%></td>
		<td id="system_setting-lp_date-<%%VALUE(id)%%>" class="system_setting-lp_date"><%%VALUE(lp_date)%%></td>
		<td id="system_setting-prods_1-<%%VALUE(id)%%>" class="system_setting-prods_1"><%%VALUE(prods_1)%%></td>
		<td id="system_setting-p1_date-<%%VALUE(id)%%>" class="system_setting-p1_date"><%%VALUE(p1_date)%%></td>
		<td id="system_setting-id-<%%VALUE(id)%%>" class="system_setting-id"><%%VALUE(id)%%></td>
		<td id="system_setting-prods_2-<%%VALUE(id)%%>" class="system_setting-prods_2"><%%VALUE(prods_2)%%></td>
		<td id="system_setting-p2_date-<%%VALUE(id)%%>" class="system_setting-p2_date"><%%VALUE(p2_date)%%></td>
		<td id="system_setting-prods_3-<%%VALUE(id)%%>" class="system_setting-prods_3"><%%VALUE(prods_3)%%></td>
		<td id="system_setting-p3_date-<%%VALUE(id)%%>" class="system_setting-p3_date"><%%VALUE(p3_date)%%></td>
		<td id="system_setting-location-<%%VALUE(id)%%>" class="system_setting-location"><%%VALUE(location)%%></td>
		<td id="system_setting-phone-<%%VALUE(id)%%>" class="system_setting-phone"><%%VALUE(phone)%%></td>
		<td id="system_setting-email-<%%VALUE(id)%%>" class="system_setting-email"><%%VALUE(email)%%></td>
		<td id="system_setting-system_bg-<%%VALUE(id)%%>" class="system_setting-system_bg"><%%VALUE(system_bg)%%></td>
		<td id="system_setting-hidder-<%%VALUE(id)%%>" class="system_setting-hidder text-right"><%%VALUE(hidder)%%></td>
		<td id="system_setting-unhidder-<%%VALUE(id)%%>" class="system_setting-unhidder text-right"><%%VALUE(unhidder)%%></td>
		<td id="system_setting-new_script-<%%VALUE(id)%%>" class="system_setting-new_script"><%%VALUE(new_script)%%></td>
		<td id="system_setting-new_script2-<%%VALUE(id)%%>" class="system_setting-new_script2"><%%VALUE(new_script2)%%></td>
		<td id="system_setting-new_script3-<%%VALUE(id)%%>" class="system_setting-new_script3"><%%VALUE(new_script3)%%></td>
		<td id="system_setting-new_script4-<%%VALUE(id)%%>" class="system_setting-new_script4"><%%VALUE(new_script4)%%></td>
		<td id="system_setting-new_script5-<%%VALUE(id)%%>" class="system_setting-new_script5"><%%VALUE(new_script5)%%></td>
		<td id="system_setting-new_script6-<%%VALUE(id)%%>" class="system_setting-new_script6"><%%VALUE(new_script6)%%></td>
		<td id="system_setting-new_script7-<%%VALUE(id)%%>" class="system_setting-new_script7"><%%VALUE(new_script7)%%></td>
		<td id="system_setting-new_script8-<%%VALUE(id)%%>" class="system_setting-new_script8"><%%VALUE(new_script8)%%></td>
