<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the about_us_init() hook (in hooks/about_us.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="about_us-main_head-<%%VALUE(id)%%>" class="about_us-main_head"><%%SELECT%%><%%VALUE(main_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-main_head_content-<%%VALUE(id)%%>" class="about_us-main_head_content"><%%SELECT%%><%%VALUE(main_head_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-a_head-<%%VALUE(id)%%>" class="about_us-a_head"><%%SELECT%%><%%VALUE(a_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-a_subhead-<%%VALUE(id)%%>" class="about_us-a_subhead"><%%SELECT%%><%%VALUE(a_subhead)%%><%%ENDSELECT%%></td>
		<td id="about_us-a_content-<%%VALUE(id)%%>" class="about_us-a_content"><%%SELECT%%><%%VALUE(a_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-b_head-<%%VALUE(id)%%>" class="about_us-b_head"><%%SELECT%%><%%VALUE(b_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-b_subhead-<%%VALUE(id)%%>" class="about_us-b_subhead"><%%SELECT%%><%%VALUE(b_subhead)%%><%%ENDSELECT%%></td>
		<td id="about_us-b_content-<%%VALUE(id)%%>" class="about_us-b_content"><%%SELECT%%><%%VALUE(b_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-c_head-<%%VALUE(id)%%>" class="about_us-c_head"><%%SELECT%%><%%VALUE(c_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-c_subhead-<%%VALUE(id)%%>" class="about_us-c_subhead"><%%SELECT%%><%%VALUE(c_subhead)%%><%%ENDSELECT%%></td>
		<td id="about_us-c_content-<%%VALUE(id)%%>" class="about_us-c_content"><%%SELECT%%><%%VALUE(c_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_head-<%%VALUE(id)%%>" class="about_us-a2_head"><%%SELECT%%><%%VALUE(a2_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_content-<%%VALUE(id)%%>" class="about_us-a2_content"><%%SELECT%%><%%VALUE(a2_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_head_1-<%%VALUE(id)%%>" class="about_us-a2_head_1"><%%SELECT%%><%%VALUE(a2_head_1)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_content_1-<%%VALUE(id)%%>" class="about_us-a2_content_1"><%%SELECT%%><%%VALUE(a2_content_1)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_head_2-<%%VALUE(id)%%>" class="about_us-a2_head_2"><%%SELECT%%><%%VALUE(a2_head_2)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_content_2-<%%VALUE(id)%%>" class="about_us-a2_content_2"><%%SELECT%%><%%VALUE(a2_content_2)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_head_3-<%%VALUE(id)%%>" class="about_us-a2_head_3"><%%SELECT%%><%%VALUE(a2_head_3)%%><%%ENDSELECT%%></td>
		<td id="about_us-a2_content_3-<%%VALUE(id)%%>" class="about_us-a2_content_3"><%%SELECT%%><%%VALUE(a2_content_3)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_mainhead-<%%VALUE(id)%%>" class="about_us-a3_mainhead"><%%SELECT%%><%%VALUE(a3_mainhead)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_head-<%%VALUE(id)%%>" class="about_us-a3_head"><%%SELECT%%><%%VALUE(a3_head)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_content-<%%VALUE(id)%%>" class="about_us-a3_content"><%%SELECT%%><%%VALUE(a3_content)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_head_1-<%%VALUE(id)%%>" class="about_us-a3_head_1"><%%SELECT%%><%%VALUE(a3_head_1)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_content_1-<%%VALUE(id)%%>" class="about_us-a3_content_1"><%%SELECT%%><%%VALUE(a3_content_1)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_head_2-<%%VALUE(id)%%>" class="about_us-a3_head_2"><%%SELECT%%><%%VALUE(a3_head_2)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_content_2-<%%VALUE(id)%%>" class="about_us-a3_content_2"><%%SELECT%%><%%VALUE(a3_content_2)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_head_3-<%%VALUE(id)%%>" class="about_us-a3_head_3"><%%SELECT%%><%%VALUE(a3_head_3)%%><%%ENDSELECT%%></td>
		<td id="about_us-a3_content_3-<%%VALUE(id)%%>" class="about_us-a3_content_3"><%%SELECT%%><%%VALUE(a3_content_3)%%><%%ENDSELECT%%></td>
