<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the terms_conditions_init() hook (in hooks/terms_conditions.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="terms_conditions-main_head-<%%VALUE(id)%%>" class="terms_conditions-main_head"><%%VALUE(main_head)%%></td>
		<td id="terms_conditions-main_head_content-<%%VALUE(id)%%>" class="terms_conditions-main_head_content"><%%VALUE(main_head_content)%%></td>
		<td id="terms_conditions-sub_head1-<%%VALUE(id)%%>" class="terms_conditions-sub_head1"><%%VALUE(sub_head1)%%></td>
		<td id="terms_conditions-head_1-<%%VALUE(id)%%>" class="terms_conditions-head_1"><%%VALUE(head_1)%%></td>
		<td id="terms_conditions-sub_head2-<%%VALUE(id)%%>" class="terms_conditions-sub_head2"><%%VALUE(sub_head2)%%></td>
		<td id="terms_conditions-head_2-<%%VALUE(id)%%>" class="terms_conditions-head_2"><%%VALUE(head_2)%%></td>
		<td id="terms_conditions-sub_head3-<%%VALUE(id)%%>" class="terms_conditions-sub_head3"><%%VALUE(sub_head3)%%></td>
		<td id="terms_conditions-head_3-<%%VALUE(id)%%>" class="terms_conditions-head_3"><%%VALUE(head_3)%%></td>
		<td id="terms_conditions-sub_head4-<%%VALUE(id)%%>" class="terms_conditions-sub_head4"><%%VALUE(sub_head4)%%></td>
		<td id="terms_conditions-head_4-<%%VALUE(id)%%>" class="terms_conditions-head_4"><%%VALUE(head_4)%%></td>
